/*-----------------Fonts----------------------*/

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:ital@1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@500&display=swap");

/*---------------HeaderNav--------------------*/

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 30vh;
}

.background-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 30vh;
  border-bottom: 5px black solid ;
}


#name-header {
  display: flex;
  align-items: center;
  z-index: 1;
  padding-left: 6px;
}

#home-link {
  text-decoration: none;
  color:black;
  font-family: "Lobster", cursive;
  font-size: xx-large;
}

#page-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  z-index: 1;
}

#head-links {
  text-decoration: none;
  color: white;
  font-family: "Merriweather", serif;
  font-size: x-large;
}

/*-------------------Home-Page-----------------------*/

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  font-family: "Spectral", serif;
}

.home-image-wrapper {
  display: flex;
}

#beast {
  width: 30vw;
  height: 50vh;
}

.currentWinner {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding-left: 2vw;
}

/*-----------------------Members-Page-------------------------*/

.current-members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.member-head {
  display: flex;
  justify-content: center;
  font-family: "Lobster", cursive;
}

#name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
}

.bomby-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 34, 68);
  color: rgb(251, 79, 20);
  width: 40vw;
  border: 5px rgb(251, 79, 20) solid;
  border-radius: 25px;
  padding-right: 5px;
}

#bomby-profPic {
  width: 10vw;
  border-radius: 8px;
  border: 5px rgb(251, 79, 20) solid;
}

.ricky-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 76, 84);
  width: 40vw;
  border: 5px rgb(165, 172, 175) solid;
  color: rgb(165, 172, 175);
  border-radius: 25px;
  padding-right: 5px;
}

#ricky-profPic {
  height: 20vh;
  border-radius: 8px;
  border: 5px rgb(165, 172, 175) solid;
}

.gj-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 128, 198);
  color: white;
  width: 40vw;
  border: 5px rgb(255, 194, 14) solid;
  border-radius: 25px;
  padding-right: 5px;
}

#gj-profPic {
  height: 20vh;
  border-radius: 8px;
  border: 5px rgb(255, 194, 14) solid;
}

.chris-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(251, 79, 20);
  color: white;
  width: 40vw;
  border: 5px black solid;
  border-radius: 25px;
  padding-right: 5px;
}

#chris-profPic {
  height: 20vh;
  border-radius: 8px;
  border: 5px black solid;
}

.matt-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(170, 0, 0);
  color: rgb(176, 183, 188);
  width: 40vw;
  border: 5px rgb(173, 153, 93) solid;
  border-radius: 25px;
  padding-right: 5px;
}

#matt-profPic {
  height: 20vh;
  border-radius: 8px;
  border: 5px rgb(173, 153, 93) solid;
}

.joe-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(227, 24, 55);
  color: white;
  width: 40vw;
  border: 5px rgb(255, 184, 28) solid;
  border-radius: 25px;
  padding-right: 5px;
}

#joe-profPic {
  height: 20vh;
  border-radius: 8px;
  border: 5px rgb(255, 184, 28) solid;
}

.strick-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 51, 141);
  color: white;
  width: 40vw;
  border: 5px rgb(198, 12, 48) solid;
  border-radius: 25px;
  padding-right: 5px;
}

#strick-profPic {
  height: 20vh;
  border-radius: 8px;
  border: 5px rgb(198, 12, 48) solid;
}

.forest-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(198, 12, 48);
  color: white;
  width: 40vw;
  border: 5px rgb(0, 51, 141) solid;
  border-radius: 25px;
  padding-right: 5px;
}

#forest-profPic {
  height: 20vh;
  border-radius: 8px;
  border: 5px rgb(0, 51, 141) solid;
}

.jeff-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 34, 68);
  color: rgb(176, 183, 188);
  width: 40vw;
  border: 5px rgb(198, 12, 48) solid;
  border-radius: 25px;
  padding-right: 5px;
}

#jeff-profPic {
  height: 20vh;
  border-radius: 8px;
  border: 5px rgb(198, 12, 48) solid;
}

.tucker-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 29, 0);
  color: white;
  width: 40vw;
  border: 5px rgb(255, 60, 0) solid;
  border-radius: 25px;
  padding-right: 5px;
}
#tucker-profPic {
  height: 20vh;
  border-radius: 8px;
  border: 5px rgb(255, 60, 0) solid;
}

/*----------------------History-----------------------*/

.history-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: "Spectral", serif;
}

.history-header {
  font-family: "Lobster", cursive;
}

.pastYears-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:99%;
}

.finishes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: calc(30vw - 10px);
  border: 5px black solid;
  margin-right: .5vw;
  margin-bottom: 1vh;
}

#champPic {
 height: 20vh;
}

/*----------------------Image Carousel------------------*/

.ImageCarousel {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vw;
}

#rotating-carousel{
  width: 900px;
  height: 400px;
  display: flex;
  align-items: center;
}

#carousel {
  position: relative;
  width: 800px;
  height: 350px;
}

.lg-img {
  position: absolute;
  top: 0;
  left: 275px;
  width: 15vw;
  height: auto;
  z-index: 10;
}

.sm-img-left {
  width: 10vw;
  height: auto;
  top: 30px;
  z-index: 5;
  position: absolute;
  filter: blur(1px);
  left: 125px;
}

.sm-img-right {
  width: 10vw;
  height: auto;
  top: 30px;
  z-index: 5;
  position: absolute;
  filter: blur(1px);
  right: 125px;
}



#rotating-carousel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70vw;
}

/*--------------------Commish Page--------------------*/

.commish-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Spectral", serif;
}

#commish-header {
  font-family: "Lobster", cursive;
}

.scoring-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px rgb(0,42,94) solid;
  background-color: aquamarine;
}

.scoring-wrapper {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.offense-container {
  display: flex;
  width: 30vw;
}


/*----------------------Polls------------------------*/

.poll-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poll-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 15px);
  border: 5px rgb(0,42,94) solid;
  margin-bottom: 1.5vh;
}

.poll {
  width: 33%;
}


            